// colors

$brand-primary: #027db9; // main text
$brand-info: #2196F3;


$link: #6cac70; // anchor tags
$background: #f5f4e9; // body background color

$color-1: #027db9; // green dark
$color-2: #242e30; // green darker
$color-3: #aab5b7; // green light

// fonts

$primary-font: 'Titillium Web', sans-serif;

// z-index

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height
$header-S: 60px;
$header-M: 60px;