.advanced_search_order{
  height: 0px;
  width: 100%;
  background: #fff;
  opacity: 0;
  line-height: 40px;

  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;

  .sortNewOld{
    display: inline-block;
    margin-left: 5px;
    a{
      padding: 3px 7px ;
    }
    a.active-sort{
      background: #666;
      color: #fff;
    }
  }
}
.show_advenced{
  height: 40px;
  width: 100%;
  background: #fff;
  opacity: 1;

}