.advanced_search_order{
  height: 0px;
  width: 100%;
  background: #fff;
  opacity: 0;
  line-height: 60px;

  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;

  .sortNewOld{
    display: inline-block;
    margin-left: 5px;
    a{
      padding: 3px 7px ;
    }
    a.active-sort{
      background: #666;
      color: #fff;
    }
  }
  .dateRange, .numberRange, .parentSelect{
    display: inline-block;
    padding: 0 5px;

    .form-group{
      line-height: 14px;
      .control-label{
        height: 14px;
        margin: 3px 5px;
      }
      .date-range{
        position: relative;
      }
      .date-range > div{

          width: 170px;
          display: inline-block;


      }
    }


    .rw-datetimepicker{
      display: inline-block;
    }
  }
}
.parentSelect{
  min-width: 170px;
  vertical-align: top;
}
.parentSelect > div{
  vertical-align: top;
  width: 170px;
  display: inline-block;
}
.show_advenced{
  height: 60px;
  width: 100%;
  background: #fff;
  opacity: 1;

}