.saved-success{
  color: green;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.saved-failed{
  color: red;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.show-info{
  visibility: visible;
  opacity: 1;
}
