.solar-form{
  max-width: 600px;
}
.pagination{
  margin: 0;
}
.solar-grid{

  .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;

  }
  .table>thead>tr>th {
    padding:12px;

  }
  .table{


    margin-bottom: 0;
    .checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
      margin-left:0px;

    }

  }



  input[type=text] {

    max-width: 300px;
  }
  .sorting {
    //background: url('../images/sort_both.png') no-repeat center right;
  }


}

.form-control, output {
  color: #000;
}
.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.solar-pagination{
  .form-group{
    margin-bottom: 0;
  }
  .pagination{
    margin: 0;
    padding: 0;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0cc2aa!important;
    border-color: #0cc2aa!important;
  }
  .pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span {
    color: #000;
  }
}