.table > thead > tr > th {
  padding: 5px;
  height: 30px;

}

.table {
  margin-bottom: 0;
  font-size: 12px;
  .checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
    margin-left: 0px;
  }
  .form-group{
    margin-bottom: 0;
    .form-control{
      font-size: 12px;
      padding: 3px 5px;
      min-height: 25px;
    }
  }
  .radio, .checkbox{
    margin-bottom: 0;
  }

}

.tp-table-left0, .tp-table-left{

  text-align: center;
  display: inline-block;
  vertical-align: top;
  th:first-child{
    min-width: 35px;
  }
  td:first-child{
    min-width: 35px;
  }
  th:last-child{
    border-right: 1px solid #000 ;
  }
  td:last-child{
    border-right: 1px solid #000 ;
  }

  td, th{
      padding: 3px 4px!important;
      text-align: center;
      height: 25px;

  }

  th.sorting{
    padding-right: 20px!important;

  }

}
.tp-table-wrapper0, .tp-table-wrapper{
  width: -moz-calc(100% - 96px);
  width: -webkit-calc(100% - 96px);
  width: calc(100% - 82px);
  overflow-x: hidden;
  display: inline-block;
  vertical-align: top;
  .tp-table{

    min-width: 800px!important;
    tr{
      td{
        padding: 3px 4px;

        height: 25px;

      }
    }
  }
}

.virtual_scroll{
  width: -moz-calc(100% - 96px);
  width: -webkit-calc(100% - 96px);
  width: calc(100% - 82px);
  overflow-x: scroll;
  overflow-y:hidden;
  bottom: 0;
  height: 15px;
  margin-left: 39px;
  .virtual_table {
    min-width: 800px!important;
    height: 15px;
  }
;}

.tp-table-rigth0, .tp-table-rigth{
  width: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  th:first-child{
    border-left: 1px solid #000 ;
  }
  td:first-child{
    border-left: 1px solid #000 ;
  }
  th{
    text-align: center;

  }

    td{
      padding: 3px!important;
      text-align: center;
      height: 25px;
      width: 80px!important;
      .btn-sm{
        padding: 0 5px;
      }
    }

}

.table_header{
  top: 0;
  table{background: #fff}
  background: #fff;
  width: 100%;
  position: absolute;
  //display: none;

}